body {
  margin: 100px;
  padding: 0px;
}

h1 {
  color: brown;
  margin: 0px;
  border: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  color: black;
  padding: 0;
  background-color: darkgray;
}

.four {
  position: absolute;
  background-color: red;
  color: white;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  top: 80px;
  left: 60px;
}
.one {
  border: solid;
}

.two {
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  padding: 20px;
  margin: 0px;
  color: white;
  background-color: black;
  cursor: pointer;
  border: solid;
}

.two:hover {
  text-decoration: underline;
  background-color: white;
  color: black;
}

.ab {
  width: 20px;
  height: 20px;
  margin: 10px;
  background-color: black;
}

.bc {
  width: 20px;
  height: 20px;
  margin: 10px;

  background-color: blue;
}
.cd {
  width: 20px;
  height: 20px;
  margin: 10px;
  background-color: red;
}
.de {
  width: 20px;
  height: 20px;
  margin: 10px;
  background-color: yellow;
}
.ef {
  width: 20px;
  height: 20px;
  margin: 10px;
  background-color: green;
}
.fg {
  width: 20px;
  height: 20px;
  margin: 10px;
  background-color: brown;
}

.three {
  display: inline-flex;
}
